.kurumsal_arkaplan {
    background-image: url('kurumsal.jpg');
    background-size: cover;
    height: 395px;
}

.biz {
    height: 150px;
    background-color: rgb(0, 0, 82);
}

.biz_yazi {
    font-size: 40px;
    color: white;
}

.s_bosluk {
    margin-left: 650px;
}

.center {
    text-align: center;
}

.img_center {
    margin-left: auto;
    margin-right: auto;
}

.secenek {
    width: 450px;
}

.secenek_yazi {
    margin-left: 72px;
}

.flex {
    display: flex;
}

.aciklama {
    width: 500px;
    margin-left: 100px;
}