.sektorler_arkaplan {
    background-image: url('sektorler.jpg');
    background-size: cover;
    width: 1345px;
    height: 395px;
    margin-left: auto;
    margin-right: auto;
}

.img_center {
    margin-left: auto;
    margin-right: auto;
}

.alan2 {
    width: 1300px;
    height: 550px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.baslik {
    color: white;
    font-size: 40px;
}

.gayrimenkul {
    width: 1345px;
    height: 150px;
    background-color: #609675;
    margin-left: auto;
    margin-right: auto;
}

.bosluk {
    margin-left: 530px;
}

.flex {
    display: flex;
}

.secenek {
    width: 450px;
}

.secenek_yazi {
    margin-left: 72px;
}

.aciklama {
    width: 500px;
    margin-left: 100px;
}