.tfayda_arkaplan {
    background-image: url('tfayda.jpg');
    background-size: cover;
    width: 1350px;
    height: 395px;
}

.img_center {
    margin-left: auto;
    margin-right: auto;
}

.baslik {
    color: white;
    font-size: 40px;
}

.toplumsalfayda {
    width: 1350px;
    height: 150px;
    background-color: #609675;
}

.flex {
    display: flex;
}

.secenek {
    width: 450px;
}

.secenek_yazi {
    margin-left: 72px;
}

.solbosluk {
    margin-left: 500px;
}

.aciklama {
    width: 500px;
    margin-left: 100px;
}

.baslik2 {
    font-size: 30px;
}